---
interface Props {
   title: string;
   description: string;
   Icon: any;
}

const { title, description, Icon } = Astro.props;
---

<div
   class="bg-white/5 backdrop-blur-3xl rounded-lg lg:min-w-60 p-6 flex flex-col justify-start items-center gap-2"
>
   <div class="text-purple-500 mb-2">
      <Icon size={48} stroke={2} />
   </div>
   <h4 class="text-white font-semibold max-w-3xl text-center text-xl">
      {title}
   </h4>
   <p class="text-white/60 md:max-w-60 text-center text-base font-light">
      {description}
   </p>
</div>
